@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,700;1,400;1,700&display=swap"); /*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(216, 12%, 8%);
  font-family: "Overpass", sans-serif;
  font-size: 100%;
}
body main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-feedback {
  margin-top: 1.12rem;
  width: 100%;
  height: 2.25rem;
  border: 0;
  border-radius: 2.25rem;
  cursor: pointer;
  background-color: hsl(25, 97%, 53%);
  font-size: 0.7rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  opacity: 0.9;
  letter-spacing: 0.125rem;
}

.btn-feedback:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}

.card-feedback {
  background: linear-gradient(0deg, #171e28 0%, rgb(37, 45, 55) 100%);
  border-radius: 1.93rem;
  width: 22.87rem;
  height: 22.87rem;
  padding: 1.81rem;
}
.card-feedback .imageStar {
  width: 3rem;
  height: 3rem;
  background: #1a232c;
  border-radius: 6.187rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -0.125rem;
}
.card-feedback .title {
  margin-top: 1.56rem;
}
.card-feedback .title h1 {
  font-size: 1.56rem;
  font-weight: 900;
  color: hsl(0, 0%, 100%);
}
.card-feedback .description {
  margin-top: 0.687rem;
}
.card-feedback .description p {
  font-size: 0.81rem;
  font-weight: 700;
  color: hsl(217, 12%, 63%);
  line-height: 1.187rem;
}
.card-feedback .list-options {
  margin-top: 1.625rem;
  display: flex;
  flex-direction: grid;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 26rem) {
  .card-feedback {
    width: 90%;
    height: 90%;
  }
}
@media (max-width: 23.37rem) {
  .card-feedback {
    width: 90%;
    height: 90%;
  }
  .card-feedback .list-options {
    justify-content: center;
    flex-wrap: wrap;
  }
  .card-feedback .list-options .option {
    margin-bottom: 0.7rem;
    margin-right: 0.7rem;
  }
}
.option {
  width: 3rem;
  height: 3rem;
  background: rgb(37, 45, 55);
  border-radius: 6.187rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 700;
  color: hsl(217, 12%, 63%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.hover:hover {
  background-color: hsl(217, 12%, 63%);
  color: hsl(0, 0%, 100%);
}

.selected {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}

.card-thank {
  background: linear-gradient(0deg, #171e28 0%, rgb(37, 45, 55) 100%);
  border-radius: 1.93rem;
  width: 22.87rem;
  height: 22.87rem;
  padding: 1.81rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-thank .image-thank {
  width: 8.44rem;
  height: 8.44rem;
  text-align: center;
}
.card-thank .image-thank img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card-thank .text-selected {
  margin-top: 0.562rem;
}
.card-thank .text-selected p {
  font-size: 0.81rem;
  font-weight: 700;
  color: hsl(25, 97%, 53%);
}
.card-thank .title {
  margin-top: 2.125rem;
}
.card-thank .title h1 {
  font-size: 1.56rem;
  font-weight: 900;
  color: hsl(0, 0%, 100%);
}
.card-thank .description {
  margin-top: 0.812rem;
}
.card-thank .description p {
  font-size: 0.81rem;
  font-weight: 700;
  color: hsl(217, 12%, 63%);
  line-height: 1.187rem;
}

@media (max-width: 26rem) {
  .card-thank {
    width: 90%;
    height: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
