@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,700;1,400;1,700&display=swap');


$theme-text: 'Overpass', sans-serif;

// ### Primary

$color-orange: hsl(25, 97%, 53%);

// ### Neutral

$color-white: hsl(0, 0%, 100%);
$color-lightGrey: hsl(217, 12%, 63%);
$color-mediumGrey: hsl(216, 12%, 54%);
$color-darkBlue: hsl(213, 19%, 18%);
$color-veryDarkBlue: hsl(216, 12%, 8%);



$color-mediumGrey: #7c8798;
$color-darkBlue: rgb(37, 45, 55);

// Breakpoints


$screen-verySmoll: 23.37rem;   //448px Custom device
$screen-smoll: 26rem;   //448px Custom device

//card-feedback

$size-card: 22.87rem;
$padding-card: 1.81rem;
$border-card: 1.93rem;

$font-size-title-card: 1.56rem;
$font-size-description-card: 0.81rem;
$font-size-option-card: 0.85rem;

$button-border-radious: 2.25rem;
$button-height: 2.25rem;

//circles
$size-circle: 3rem;


//card-thank
$size-img-thank: 8.44rem;