.btn-feedback {
    margin-top: 1.62rem;
    width: 100%;
    height: $button-height;
    border: 0;
    border-radius: $button-border-radious;
    cursor: pointer;
    background-color: $color-orange;
    @include font-style(0.7rem, 700);
    color: $color-white;
    opacity: 0.9;
    letter-spacing: 0.125rem;
    

}

.btn-feedback:hover {
    background-color: $color-white;
    color: $color-orange;
}