.card-thank {
    @include gradient-card();
    border-radius: $border-card;
    @include size($size-card);
    padding: $padding-card;
    text-align: center;
    .image-thank{
        @include size($size-img-thank);
        text-align: center;
        img {
            @include img-fluid();
            position: relative;
            right: -5.062rem;
            top: -0.437rem;

        }
    }

    .text-selected{
        margin-top: 0.562rem;
        p {
            @include font-style($font-size-description-card, 700);
            color: $color-orange;
            
        }
    }
    .title {
        margin-top: 2.125rem;

        
        h1{
            @include font-style($font-size-title-card, 900);
            color: $color-white;
        }
    }
    .description {
        margin-top: 0.812rem;

        p {
            @include font-style($font-size-description-card, 700);
            color: $color-lightGrey;
            line-height: 1.187rem;
        }
    }
}