.card-feedback {

    @include gradient-card();
    border-radius: $border-card;
    @include size($size-card);
    padding: $padding-card;
    .imageStar {
        @include circle-box($size-circle, #1a232c);
        margin-top: -0.125rem;
        img {
            
        }
    }
    .title {
        margin-top: 1.56rem;
        h1{

            @include font-style($font-size-title-card, 900);
            color: $color-white;

        }
    }
    .description {
        margin-top: 0.687rem;

        p {
            @include font-style($font-size-description-card, 700);
            color: $color-lightGrey;
            line-height: 1.187rem;
        }
    }
    .list-options {

        margin-top: 1.625rem;

        @include flex(grid, space-between, center);
        
    }


}

@media (max-width: $screen-smoll) {
    .card-feedback  {
        @include size(90%);

    }
}

@media (max-width: $screen-verySmoll) {
    .card-feedback  {
        @include size(90%);

        .list-options {
            justify-content: center;
            flex-wrap: wrap;
            .option {
                margin-bottom: 0.7rem;
                margin-right: 0.7rem ;
            }
        }
        
    }
}

